* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    margin: 10px;
    width: 450px;
    position: absolute;
    top: 0;
    right: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 100%;
    background: #333;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
}
section#home {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
section#home button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
section#home h1,
section#home h2,
section#home p,
section#home button {
    text-align: center;
    margin: 30px;
}
section#home h2 {
    font-size: 28px;
    color: #666;
}
section#home h1 {
    font-size: 36px;
    color: #333;
}
section#home p {
    font-size: 24px;
    font-style: italic;
    color: #555;
}
/* About Section */
section#about {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section#about h2 {
    font-size: 40px;
    color: #333;
}
section#about article {
    width: 80%;
    max-width: 800px;
    font-size: 36px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}
/* Footer */
form {
    width: 700px;
    height: 30vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
form div {
    width: 80%;
    max-width: 600px;
}
form label {
    font-size: 20px;
    margin-bottom: 10px;
}
form input[type="submit"] {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    top: 100px;
    right: 600px;
}
